@model IT2166_Assignment.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <div>
            <dd class="col-sm-10">
                <img src="~/images/@Model.ImageUrl" style="width:250px;height:200px" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfActivity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfActivity)
            </dd>
        </div>
        <div>
            
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Notindex">Back to List</a>
</div>
