@model IEnumerable<IT2166_Assignment.Models.Product>

@{
    ViewData["Title"] = "Notindex";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}


<h1>Activities</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success ml-1">Create New</a>
</p>
<partial name="_pager" model="@pager"/>
<table class="table">
    <thead>
        <tr>
            <th>
                image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfActivity)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <img src="~/images/@item.ImageUrl" style="width:75px;height:75px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfActivity)
            </td>

            <td>
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary ml-1">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger ml-1">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
